@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.dotted-background {
  background-image: radial-gradient(#ffffff 1%, transparent 10%);
  background-size: 30px 30px;
}

.cursive-font{
  font-family: 'Cedarville Cursive', cursive;
}

.roboto{
  font-family: 'Roboto Mono', monospace;
}